<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Overview</title>
    <!-- Wrapper for shortcuts -->
    <div class="shortcut-wrapper">
        <!-- Shortcuts -->
        <ul class="shortcut-list">
            <li><a href="/">Home Page</a></li>
            <li><a href="/market_overview">Market Overview</a></li>
            <li><a href="/pipeline_xgb_reg">Algorithm Pipeline</a></li>
        </ul>
    </div>
    <link rel="stylesheet" href="/static/styles.css"> 
</head>
<body>
    <h1>Market Overview</h1>
    <!-- Embed Power BI dashboard using iframe -->
    <iframe title="Used car prices(web scraping)" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiNWZkZjMzMGYtMjVjZi00ZjEwLTlmOGItZDdkM2M1YTYzNmNkIiwidCI6IjRlZjEzN2RlLTZlNmMtNDUxMy05MTI5LWJmNjBkODYyNTM0NCIsImMiOjJ9" frameborder="0" allowFullScreen="True" class="dashboard-iframe" ></iframe>

</body>
</html>
